body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 1.5rem; /* Changed from vw to rem for more predictable scaling */
}

#logo {
    margin: 0;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 8px 8px 10px 3px darkblue;
    width: 16%;
}

ul {
    margin: 0;
    padding: 0;
}

body > header {
    background-color: burlywood;
    color: blue;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: aqua;
    display: flex;
    flex-direction: column; /* Assuming footer items are stacked vertically */
    align-items: center; /* Center items horizontally */
    padding: 20px; /* Optional padding */
}

img {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer-ul > li {
    margin-left: 12px;
}

#footer-ul > li > a {
    text-decoration: none;
    color: beige;
}
